In [2]:
import pandas as pd
import numpy as np
import pickle as pkl
import matplotlib as plt
%matplotlib inline
import sklearn
from scipy import stats
from sklearn.metrics import r2_score
import math

In [7]:
df = pd.read_excel('ParkRecord-980602-980605.xlsx')

df.head(10)

,Plate,FormattedPalte,SeenTime,ZoneName,StreetName,Serial,Areaname,AreaId,CityName,CityId,...,DeviceTypeId,OCRAccuracy,Approx,ZoneId,StreetID,DeviceID,CarTypeId,CarTypeName,Lat,Long
0,254-20س99,992425420,2019-08-24 07:02:44,دادمان-1,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,80,NaN,1014.0,808.0,203,1,سواری و وانت,35.766990,51.369453
1,411-22م85,853741122,2019-08-24 07:02:45,دادمان-1,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,90,NaN,1014.0,808.0,203,1,سواری و وانت,35.766990,51.369375
2,793-44ج65,651579344,2019-08-24 07:02:43,دادمان-1,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,91,NaN,1014.0,808.0,203,1,سواری و وانت,35.766992,51.369528
3,999-19د11,111999919,2019-08-24 07:02:45,دادمان-1,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,62,NaN,1014.0,808.0,203,1,سواری و وانت,35.766990,51.369375
4,433-99س12,122443399,2019-08-24 07:03:03,دادمان-1,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,78,NaN,1014.0,808.0,203,1,سواری و وانت,35.766912,51.367872
5,495-20س69,692449520,2019-08-24 07:02:28,دادمان-3,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,92,NaN,1061.0,808.0,203,1,سواری و وانت,35.766985,51.370385
6,493-10م91,913749310,2019-08-24 07:01:44,دادمان-2,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,93,NaN,954.0,808.0,203,1,سواری و وانت,35.766998,51.374067
7,763-10س66,662476310,2019-08-24 07:02:44,دادمان-1,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,85,NaN,1014.0,808.0,203,1,سواری و وانت,35.766990,51.369453
8,475-31ب77,771147531,2019-08-24 07:02:45,دادمان-1,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,85,NaN,1014.0,808.0,203,1,سواری و وانت,35.766990,51.369375
9,714-55س55,552471455,2019-08-24 07:02:44,دادمان-1,دادمان,204427097,منطقه 2 شهرداری,27.0,تهران,1.0,...,1,89,NaN,1014.0,808.0,203,1,سواری و وانت,35.766990,51.369453

In [27]:
column_names = df.columns
print(column_names)
print(df.dtypes)
print(df.index.values)
for i in column_names:
    if (df[i].is_unique):
        print('{} is unique: {}'.format(i, df[i].is_unique))
for i in column_names:
    if (len(df[i].unique())) < 10:
        print('{} = {}'.format(i, df[i].unique()))

Index(['Plate', 'FormattedPalte', 'SeenTime', 'ZoneName', 'StreetName',
       'Serial', 'Areaname', 'AreaId', 'CityName', 'CityId', 'Status', 'GUID',
       'DeviceTypeId', 'OCRAccuracy', 'Approx', 'ZoneId', 'StreetID',
       'DeviceID', 'CarTypeId', 'CarTypeName', 'Lat', 'Long'],
      dtype='object')
Plate                     object
FormattedPalte             int64
SeenTime          datetime64[ns]
ZoneName                  object
StreetName                object
Serial                     int64
Areaname                  object
AreaId                   float64
CityName                  object
CityId                   float64
Status                    object
GUID                      object
DeviceTypeId               int64
OCRAccuracy                int64
Approx                    object
ZoneId                   float64
StreetID                 float64
DeviceID                   int64
CarTypeId                  int64
CarTypeName               object
Lat                      float64
Long                     float64
dtype: object
[     0      1      2 ... 432546 432547 432548]
GUID is unique: True
Areaname = ['منطقه 2 شهرداری' nan]
AreaId = [27. nan]
CityName = ['تهران' nan]
CityId = [ 1. nan]
Status = ['ورود' 'خروج' 'خارج از محدوده' 'توقف']
DeviceTypeId = [1 2]
Approx = [nan 'در نزدیکی محدوده' 'خارج از محدوده']
CarTypeId = [1]
CarTypeName = ['سواری و وانت']